<h1>LIM_API</h1>

<%= form_tag api_pages_path, method: :post, :remote => true do %>
  <%= label_tag "Url", nil %>
  <%= text_field_tag "url", nil, required: true, autofocus: true %>
  <%= button_tag "Show Content", class: "btn btn-primary" %>
<% end %>